services:
  frontend:
    build: ./frontend
    container_name: mm-frontend
    ports:
      - 3000:3000
    
  backend:
    build: ./backend
    container_name: mm-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    command: python manage.py runserver 0.0.0.0:8000
